@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Faça o login para ter acesso ao Sistema</p>

</div>

<div>
    <br />
    <br />

    <form>
        <div class="d-flex justify-content-center">
        <fieldset>
            <div class="mb-3">
                <label for="Select" class="form-label">Login</label>
                <select class="form-select" aria-label="select example">
                    <option value="1">Funcionário</option>
                    <option value="2">Cliente</option>
                    <option value="3">Administrador</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="TextInput" class="form-label">Senha</label>
                <input type="text" class="form-control" placeholder="Digite a sua senha">
            </div>
            <div id="emailHelp" class="form-text"><a href="#" style="text-decoration: none"> Esqueceu a senha? Clique aqui</a></div>

            <br />
            <button type="submit" class="btn btn-primary">Enviar</button>
        </fieldset>
        </div>
    </form>


<br />
<br />

<div class="container">
    Projeto Desenvolvido por Leila Vasconcelos
</div>
