@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<br />

<h5>
    <strong>
        Sua Privacidade é a Nossa Prioridade!
    </strong>
</h5>

<p>
    Estamos comprometidos em proteger a privacidade e segurança dos dados de nossos clientes.
    Entendemos a importância de sua privacidade e queremos assegurar que sua experiência
    conosco seja tranquila e segura.
</p>


<h5>
    <strong>
        O que Fazemos com Seus Dados?
    </strong>
</h5>

<p>
    Os dados que coletamos são usados apenas para melhorar sua experiência em nosso site.
    Isso pode incluir personalização de conteúdo, processamento de pedidos e comunicações
    relacionadas aos nossos produtos e serviços. Nunca compartilharemos suas informações
    pessoais com terceiros sem sua permissão explícita.
</p>

<h5>
    <strong>
        Como Mantemos Seus Dados Seguros?
    </strong>
</h5>

<p>
    Implementamos medidas de segurança rigorosas para proteger seus dados contra acesso não
    autorizado, alteração, divulgação ou destruição não autorizada. Nossos sistemas são
    continuamente monitorados e atualizados para garantir a máxima proteção.
</p>

<h5>
    <strong>
        Seus Direitos de Privacidade
    </strong>
</h5>

<p>
    Respeitamos seus direitos de privacidade e fornecemos opções para controlar como seus dados são usados.
    Você pode revisar, corrigir ou excluir suas informações pessoais a qualquer momento. Além disso,
    você tem o direito de optar por não receber comunicações de marketing direto.
</p>

<h5>
    <strong>
        Transparência é Fundamental
    </strong>
</h5>

<p>
    Estamos comprometidos com a transparência em relação à nossa política de privacidade. Todas as nossas
    práticas de coleta e uso de dados são claramente descritas em nossa Política de Privacidade. Se você
    tiver alguma dúvida ou preocupação sobre a segurança de seus dados, não hesite em nos contatar.

    Sua privacidade é nossa prioridade número um. Estamos aqui para garantir que sua experiência conosco
    seja segura, protegida e livre de preocupações. Obrigado por confiar em nós com seus dados.
</p>

