@model ProjetoControleVendas.Models.Produtos

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Você tem certeza que quer apagar esse produto?</h3>
<div>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutosID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
