@model ProjetoControleVendas.Models.Produtos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutosID">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
