@model IEnumerable<ProjetoControleVendas.Models.Produtos>

@{
    ViewData["Title"] = "Produto";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutosID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutosID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutosID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
